<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Task</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit(taskForm.value)">
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Subject</ion-label>
          <ion-input type="text" formControlName="subject"></ion-input>
          <!-- <ion-select formControlName="title" placeholder="Select Title">
            <ion-select-option *ngFor="let title of titles">{{title}}</ion-select-option>
          </ion-select> -->
        </ion-item>

        <ion-item>
          <ion-label position="floating">Priority</ion-label>
          <ion-select formControlName="priority" placeholder="Select Priority">
            <ion-select-option *ngFor="let priority of config.ticket_priorities" value="priority.priorityid">{{ priority.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea type="text" formControlName="description" rows="6"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Due Date</ion-label>
          <ion-textarea type="text" formControlName="dueDate"></ion-textarea>
        </ion-item>

        <ion-button expand="full" size="default" shape="round" color="success" type="submit" [disabled]="!taskForm.valid">Create</ion-button>
      </ion-card-content>
    </ion-card>
    </form>
</ion-content>
