<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-item>
    <ion-label>Name:</ion-label>
    <p>{{ dataService.userData.name }}</p>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <p>{{ dataService.userData.email }}</p>
  </ion-item>

  <br/>
  <br/>
  <br/>
  <br/>

  <ion-button expand="block" size="default" shape="round" color="primary" type="submit" (click)="logout()">Logout</ion-button>  

</ion-content>
