ion-card {
    height: 50%;
    width: 75%;
    border-radius: 10px;
    // padding: 25px
}
ion-icon {
    font-size: 30px;
    margin-top: 20px;
}

.fullheight {
    height: 100%;
  }
  
.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ion-content{
  // --background: linear-gradient(120deg, rgb(223, 199, 223) 0%, rgba(201, 169, 202, 0.82) 37%, rgba(175, 172, 204, 0.82) 56%, rgb(132, 171, 190) 100%), url('../../../assets/coronavirus-4914026_1920.jpg') no-repeat center center / cover;
// }