<ion-content style="top: -5vh; text-align: center; text-align:  -webkit-center;">
  <div style="height:100vh;width:100%;overflow:auto;"  class="fullheight xc">
    <div style="width: 100%; overflow: auto;">
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
    <!-- <ion-card style="max-width: 500px"> -->
      <!-- <ion-card-header>
        <ion-card-title>Sign In</ion-card-title>
      </ion-card-header> -->
      <!-- <ion-card-content> -->

        <div style="text-align: center;">
          <img src="../assets/logo1.jpg" style="text-align: center; width: 100%; max-width: 500px">
        </div>

        <ion-item style="max-width: 500px">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" formControlName="email" placeholder="me@email.co.za"></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item style="max-width: 500px">
          <ion-label position="stacked">Password</ion-label>
          <ion-input [type]="passwordType" formControlName="password" placeholder="*****"></ion-input>
          <ion-icon [name]="passwordIcon" slot="start" (click)='hideShowPassword()'></ion-icon>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <div style="text-align: -webkit-center;">
         
                <ion-button expand="full" size="default" shape="round" color="primary" type="submit" [disabled]="!loginForm.valid">
                  <ion-icon name="log-in-outline" color="light" slot="start" style="margin-top: 0px !important"></ion-icon>
                  Login
                </ion-button>
          
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      <!-- </ion-card-content>
    </ion-card> -->
  </form>
  </div>
  </div>
</ion-content>
