<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar >
    <ion-title>
      Covid Screening
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Covid19</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <form [formGroup]="covidForm" (ngSubmit)="onFormSubmit(covidForm.value)">
        <ion-item>
          <ion-label position="stacked">Wearing a Mask?</ion-label>
          <ion-select formControlName="mask" placeholder="Select">
            <ion-select-option>No</ion-select-option>
            <ion-select-option>Yes</ion-select-option>
          </ion-select>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Temperature</ion-label>
          <ion-input type="number" formControlName="temperature"></ion-input>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
        <ion-label>Symptoms:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Chills</ion-label>
          <ion-toggle formControlName="chills"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Cough</ion-label>
          <ion-toggle formControlName="cough"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Sore throat</ion-label>
          <ion-toggle formControlName="sore_throat"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Shortness of breath</ion-label>
          <ion-toggle formControlName="shortness_of_breath"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Myalgia/body pains</ion-label>
          <ion-toggle formControlName="myalgia_body_pains"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Diarrhoea</ion-label>
          <ion-toggle formControlName="diarrhoea"></ion-toggle>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label>Signature</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" style="background: #FAF7F6; margin: auto"></signature-pad>
        </ion-item>
         
         <ion-button expand="block" size="default" shape="round" color="danger" type="submit" (click)="showCovidResult('safe')">Safe</ion-button>  
         <ion-button expand="block" size="default" shape="round" color="danger" type="submit" (click)="showCovidResult('unsafe')">unSafe</ion-button>  

        <ion-button expand="block" size="default" shape="round" color="success" type="submit" [disabled]="!covidForm.valid" style="margin-top: 10px">Submit</ion-button>    
  </form> -->
  <img *ngIf="activeSlide == 0" src="../assets/coronavirus-banner.jpg" />
  <img *ngIf="activeSlide == 1" src="../assets/covid-symptoms2.jpg" />
  <img *ngIf="activeSlide == 2" src="../assets/covid_health_03.png" />
  <ion-slides #signupSlider pager (ionDrag)="onIonDrag($event)" [options]="{onlyExternal: false}"> 

    <ion-slide>
      <div style="height:50vh;width:100%;overflow:auto;"  class="fullheight xc">
        <div style="width: 100%; overflow: auto;">
       
        <form [formGroup]="covidForm">
          <ion-item>
            <ion-label position="stacked">Wearing a Mask?</ion-label>
            <ion-select formControlName="mask" placeholder="Select">
              <ion-select-option>No</ion-select-option>
              <ion-select-option>Yes</ion-select-option>
            </ion-select>
            <ion-icon name="person-outline" slot="start" class="myicon"></ion-icon>
          </ion-item>
          <ion-item *ngIf="!covidForm.controls.mask.valid  && (covidForm.controls.mask.dirty || submitAttempt)">
            <p style="color: #FF0000;">Please select a valid option.</p>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Temperature</ion-label>
            <ion-input type="number" formControlName="temperature"></ion-input>
            <ion-icon name="thermometer-outline" slot="start" class="myicon"></ion-icon>
          </ion-item>
          <ion-item *ngIf="!covidForm.controls.temperature.valid  && (covidForm.controls.temperature.dirty || submitAttempt)">
            <p style="color: #FF0000;">Please enter your temperature.</p>
          </ion-item>

        </form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="medium"  (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
              </div> -->
            </ion-col>
            <ion-col >
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="light" (click)="next()">Continue <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon></ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height:65vh;width:100%;overflow:auto;"  class="fullheight xc">
        <div style="width: 100%; overflow: auto;">
         <form [formGroup]="slideTwoForm">
       
        <ion-item>
          <ion-label>Do you have any of these symptoms?:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Chills</ion-label>
            <ion-toggle formControlName="chills"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Cough</ion-label>
            <ion-toggle formControlName="cough"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Sore throat</ion-label>
            <ion-toggle formControlName="sore_throat"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Shortness of breath</ion-label>
            <ion-toggle formControlName="shortness_of_breath"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Myalgia/body pains</ion-label>
            <ion-toggle formControlName="myalgia_body_pains"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Diarrhoea</ion-label>
            <ion-toggle formControlName="diarrhoea"></ion-toggle>
          </ion-item>
          
         </form>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="light"  (click)="prev()"><ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon> Back</ion-button>
              </div>
            </ion-col>
            <ion-col >
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="light" (click)="next()">Continue <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon></ion-button>
              </div>
          </ion-col>
          </ion-row>
        </ion-grid> 
      </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height:60vh;width:100%;overflow:auto;" class="fullheight xc">
      <div style="width: 100%; overflow: auto;">
      <form [formGroup]="slideThreeForm" >

          <ion-item lines="none">
            <ion-label>Signature</ion-label>
          </ion-item>
          <ion-item class="ion-text-center">
            <signature-pad formGroupName="signaturePadData" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" style="background: #FAF7F6; margin: auto"></signature-pad>
          </ion-item>
      
         </form>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="light"  (click)="prev()"><ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon> Back</ion-button>
              </div>
            </ion-col>
            <ion-col >
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="primary" (click)="save()">Submit</ion-button>
              </div>
          </ion-col>
          </ion-row>
        </ion-grid> 
      </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
