.fullheight {
  // height: 70vh;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal .swiper-pagination-bullets 
{
  bottom: 40px !important;
}
  
.swiper-pagination .swiper-pagination-bullets {
  bottom: 40px !important;
}

.invalid {
  border: 1px solid #ea6153;
}

ion-content{
  // background: url('../../assets/coronavirus-4914026_1920.jpg');
  // --background: linear-gradient(120deg, rgb(223, 199, 223) 0%, rgba(201, 169, 202, 0.82) 37%, rgba(175, 172, 204, 0.82) 56%, rgb(132, 171, 190) 100%), url('../../../assets/coronavirus-4914026_1920.jpg') no-repeat center center / cover;
}

ion-item{
  // --color: #FFF;
  // --background: transparent;
}

.myicon {
  font-size: 30px;
  margin-top: 20px;
}