<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button type="button" (click)="add()">
        <ion-icon name="add-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="tasks.length == 0">
    <ion-list *ngFor="let fake of [1,2,3]">
      <ion-item >
        <!-- <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text> -->
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div> 

  <!-- <ion-list *ngFor="let task of tasks">
    <ion-item>
      <ion-label>
        <h3>{{ task.name }}</h3>
        <p>{{ task.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let task of tasks" mode="ios" (click)="view(task)">
    <ion-card-content>
   
    <ion-item lines="none">
      <ion-label>
        <ion-badge [ngStyle]="{ 'background-color' : task?.status_color, 'float' : 'right'}">{{ task.status_name }}</ion-badge>
        <ion-badge [ngStyle]="{ 'background-color' : task?.priority_color, 'float' : 'right'}">{{ task.priority_name }}</ion-badge>
        <h3>{{ task.name }}</h3>
        <h4 style="width: 75%"><div [innerHtml]="task.description"></div></h4>
        <p [ngClass]="task.duedate < currentDate ? 'is_deadline':'is_not_deadline' ">{{ task.duedate }}</p>
      </ion-label>
    </ion-item>

  </ion-card-content>
  </ion-card>

</ion-content>
