<ion-header mode="ios" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-title>Form 1</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-select formControlName="title" placeholder="Select Title">
            <ion-select-option *ngFor="let title of titles">{{title}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cell Phone</ion-label>
          <ion-input type="text" formControlName="cellphone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">ID Number</ion-label>
          <ion-input type="id_number" formControlName="id_number"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        
        <ion-button expand="full" size="default" shape="round" color="success" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
      </ion-card-content>
</ion-card>
</form>
  <!-- <ion-slides #signupSlider pager> 

    <ion-slide>
      <div style="height:100vh;width:100%;overflow:auto;">
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Form 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select formControlName="title" placeholder="Select Title">
                <ion-select-option *ngFor="let title of titles">{{title}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" formControlName="firstname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" formControlName="lastname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cell Phone</ion-label>
              <ion-input type="text" formControlName="cellphone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">ID Number</ion-label>
              <ion-input type="id_number" formControlName="id_number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Province</ion-label>
              <ion-select formControlName="province" placeholder="Select Province">
                <ion-select-option *ngFor="let province of provinces">{{province}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Profession</ion-label>
              <ion-select formControlName="profession" placeholder="Select Profession">
                <ion-select-option *ngFor="let profession of professions">{{profession}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Registration Number</ion-label>
              <ion-input type="text" formControlName="registration_number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
           
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="medium"  (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
              </div>
            </ion-col>
            <ion-col >
              <div class="ion-text-center">
                <ion-button expand="full" size="default" shape="round" color="success" (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> 
        <br/><br/><br/><br/><br/>
      </form>
    </div>
    </ion-slide>

    <ion-slide>
      <div style="height:100vh;width:100%;overflow:auto;">

      <form [formGroup]="slideTwoForm">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Form 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
        <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="firstNames" type="text" [class.invalid]="!slideTwoForm.controls.firstNames.valid && (slideTwoForm.controls.firstNames.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!slideTwoForm.controls.firstNames.valid  && (slideTwoForm.controls.firstNames.dirty || submitAttempt)">
          <p style="color: F00;">Please enter a valid name.</p>
      </ion-item>

        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="lastNames" type="text" [class.invalid]="!slideTwoForm.controls.lastNames.valid && (slideTwoForm.controls.lastNames.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!slideTwoForm.controls.lastNames.valid  && (slideTwoForm.controls.lastNames.dirty || submitAttempt)">
          <p style="color: F00;">Please enter a valid name.</p>
      </ion-item>

        <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input formControlName="age" type="number" [class.invalid]="!slideTwoForm.controls.age.valid && (slideTwoForm.controls.age.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!slideTwoForm.controls.age.valid  && (slideTwoForm.controls.age.dirty || submitAttempt)">
          <p style="color: F00;">Please enter a valid age.</p>
      </ion-item>

      </ion-card-content>
    </ion-card>
      
    </form>

      
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <ion-button expand="full" size="default" shape="round" color="primary"  (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
            </div>
          </ion-col>
          <ion-col >
            <div class="ion-text-center">
              <ion-button expand="full" size="default" shape="round" color="success" (click)="save()">Register</ion-button>
            </div>
         </ion-col>
        </ion-row>
      </ion-grid> 
      </div>
    </ion-slide>

  </ion-slides> -->
  
</ion-content>
