<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="button" (click)="edit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ project.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ project.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>
      Company: {{ project.company }}
    </ion-label>
  </ion-item>
  <ion-item class="ion-text-wrap">
    <ion-label>
      Description: 
      <div [innerHtml]="project.description"></div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Start Date: {{ project.start_date }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Due: {{ project.deadline }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Status: {{ project.status_name }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Cost: {{ project.project_cost }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Billable: {{ project.billable ? 'Yes':'No' }}
    </ion-label>
  </ion-item>

</ion-content>
