<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>
    -->
    <ion-tab-button tab="tab1">
      <ion-icon name="document"></ion-icon>
      <ion-label>Audits</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>
  -->
    <ion-tab-button tab="tab4">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
