ion-tab-bar, ion-tab-button{
  background-color: var(--ion-color-primary);
  color: #efeff0;
}
ion-tab-button.tab-selected {
  ion-icon, ion-label {
    color: var(--ion-color-light) !important;
    --ion-color-base: var(--ion-color-light) !important;
  }
  ion-icon{
      font-size: 35px;
  }
}

ion-icon, ion-label {
  color: #efeff0;
}

