<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="button" (click)="edit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ task.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ task.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-text-wrap">
    <ion-label>
      Description: 
      <div [innerHtml]="task.description"></div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Due: {{ task.duedate }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Status: {{ task.status_name }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Priority: {{ task.priority_name }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Rate: {{ task.hourly_rate }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Billable: {{ task.billable ? 'Yes':'No' }}
    </ion-label>
  </ion-item>

</ion-content>
