<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button type="button" (click)="add()" color="light">
        <ion-icon name="add-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Projects</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="projects.length == 0">
    <ion-list *ngFor="let fake of [1,2,3]">
      <ion-item lines="undefined">
        <!-- <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text> -->
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div> 

  <ion-card *ngFor="let project of projects" mode="ios" (click)="view(project)"> 
    <ion-card-content>
   
    <ion-item lines="none">
      <ion-label>
        <ion-badge [ngStyle]="{ 'background-color' : project.status_color, 'float' : 'right'}">{{ project.status_name }}</ion-badge>
        <h2>{{ project.name }}</h2>
        <h4 style="width: 75%">{{ project.description }}</h4>
        <p [ngClass]="project.deadline < currentDate ? 'is_deadline':'is_not_deadline' ">{{ project.deadline }}</p>
        <ion-progress-bar color="success" [value]="project.progress / 100" style="margin-top: 6px" *ngIf="project?.show_progress"></ion-progress-bar>
      </ion-label>
    </ion-item>

  </ion-card-content>
  </ion-card>
</ion-content>
