<ion-header>
  <ion-toolbar>
    <ion-title>Audits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let audit of audits" mode="ios" (click)="view(audit)">
    <ion-card-content>
    
      <ion-item lines="none">
        <ion-icon slot="start" name="document-outline" *ngIf="audit.status !== '1'" color="warning"></ion-icon>
        <ion-icon slot="start" name="document" *ngIf="audit.status == '1'"></ion-icon>
        <ion-label>
          <h2>{{ audit.heading }} {{ audit.status }}</h2>
          <h5 style="width: 75%; color: #777"><div [innerHtml]="audit.description"></div></h5>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>


</ion-content>
