<!-- <ion-header>
  <ion-toolbar>
    <ion-title>covidresult</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding ion-text-center">

  <div *ngIf="viewSection == 'safe'" class="fullheight xc">
    <div>
    <ion-icon name="checkmark-circle-outline" item-left color="success" style="font-size: 15em"></ion-icon>
    <h3 style="font-size: 2.6rem">You are safe to report for work.</h3>
    <br/>
    <ion-button expand="block" size="default" shape="round" color="danger" type="submit" (click)="dismiss()">Close</ion-button>  
    </div>
  </div>

  <div *ngIf="viewSection == 'unsafe'" class="fullheight xc">
   
    <div>
      
      <ion-icon name="close-circle-outline" item-left color="danger" style="font-size: 15em"></ion-icon>
      <h3 style="font-size: 2.6rem">Sorry, It seems that you are not well enough to report for work.</h3>
      <h4>Please take some time to rest</h4>
      <br/>
      <ion-button expand="block" size="default" shape="round" color="danger" type="submit" (click)="dismiss()">Close</ion-button>  
    </div>
  </div>


</ion-content>
