<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button type="button" (click)="edit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>{{ questions?.heading }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-item>
		<ion-label>Select Site</ion-label>
		<ion-select [(ngModel)]="site" placeholder="Select Store" style="width: 100%" [compareWith]="compareWithFn" [selectedText]="site_name">
			<ion-select-option *ngFor="let site of sites" [value]="site">{{site.site_name}}</ion-select-option>
		</ion-select>
	</ion-item>

<h3 class="ion-text-center">Questions</h3>
<form [formGroup]="questionForm">
		<ion-card class="ion-no-padding">
<div *ngFor="let question of questions">
	
	<div *ngIf="question.question_type_two == 'header'">
		
			<!-- <h4 class="card-header ion-text-center">{{ question.question }}</h4> -->
			<ion-card-header color="medium">
				<ion-card-subtitle>{{ question.question }}</ion-card-subtitle>
				<!-- <ion-card-title>{{ question.question }}</ion-card-title> -->
			</ion-card-header>
	</div>
	<ion-card-content>



		<div *ngIf="question.question_type == 'radio'">
			<ion-item-sliding>
		<ion-radio-group value="question.question" >
			<ion-item class="ion-no-wrap">
				<ion-label>{{ question.question }}</ion-label>
				<ion-radio slot="end" formControlName="{{ question.id }}"></ion-radio>
			</ion-item>
		</ion-radio-group>
		<ion-item-options>
			<ion-item-option color="secondary">
				<ion-icon slot="icon-only" color="light" name="camera" (click)="takePicture(question.id)"></ion-icon>
			</ion-item-option>
			<ion-item-option color="danger">
				<ion-icon slot="icon-only" name="flag" color="light"></ion-icon>
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
		</div>
		
		<div *ngIf="question.question_type == 'checkbox'">
			<ion-item-sliding>
				<ion-item class="ion-text-wrap">
					<ion-label class="ion-text-wrap">{{ question.question }}</ion-label>
					<ion-checkbox slot="end" formControlName="{{ question.id }}" checked="{{ question.value == 1 }}"></ion-checkbox>
				</ion-item>
				<ion-item-options>
					<ion-item-option color="secondary">
						<ion-icon slot="icon-only" color="light" name="camera" (click)="takePicture(question.id)"></ion-icon>
					</ion-item-option>
					<ion-item-option color="danger">
						<ion-icon slot="icon-only" color="light" name="flag"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>

		
		</div>
		
		<div *ngIf="question.question_type == 'text'">
			<ion-item-sliding>
			<ion-item>
				<ion-label position="stacked">{{ question.question }}</ion-label>
				<ion-input type="text" formControlName="{{ question.id }}"></ion-input>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="secondary">
					<ion-icon slot="icon-only" color="light" name="camera" (click)="takePicture(question.id)"></ion-icon>
				</ion-item-option>
				<ion-item-option color="danger">
					<ion-icon slot="icon-only" color="light" name="flag"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		</div>
		
		<div *ngIf="question.question_type == 'textarea'">
			<ion-item-sliding>
			<ion-item>
				<ion-label position="stacked">{{ question.question }}</ion-label>
				<ion-textarea></ion-textarea>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="secondary">
					<ion-icon slot="icon-only" color="light" name="camera" (click)="takePicture(question.id)"></ion-icon>
				</ion-item-option>
				<ion-item-option color="danger">
					<ion-icon slot="icon-only" color="light" name="flag"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		</div>
		
		<div *ngIf="question.question_type == 'select'">
			<ion-item-sliding>
			<ion-item>
				<ion-label position="stacked">{{ question.question }}</ion-label>
				<ion-select></ion-select>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="secondary">
					<ion-icon slot="icon-only" color="light" name="camera" (click)="takePicture(question.id)"></ion-icon>
				</ion-item-option>
				<ion-item-option color="danger">
					<ion-icon slot="icon-only" color="light" name="flag"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		</div>

		<!-- <div *ngIf="question.question_type == 'select'">
			<ion-item>
				<ion-label position="stacked">{{ question.question }}</ion-label>
				<ion-select></ion-select>
			</ion-item>
		</div> -->
		
		<div *ngIf="question.question_type == 'file'">
			<ion-item>
				<ion-label position="stacked">{{ question.question }}</ion-label>
				<!-- <ion-input type="file"></ion-input> -->
				<ion-icon name="camera-outline" (click)="takePicture(question.id)"></ion-icon>
			</ion-item>
		</div>
		
		<!-- <div *ngIf="question.question_type == 'signature'"> -->
		<div *ngIf="question.question_type_two == 'signature'">
				<ion-item lines="none">
					<!-- <ion-label>{{ question.question_name }}</ion-label> -->
					<ion-label position="stacked">{{ question.question_name }}</ion-label>
					<ion-input type="text" formControlName="{{ question.id }}"></ion-input>
				</ion-item>
						<ion-item class="ion-text-center">
							<signature-pad [options]="signaturePadOptions" 
										(onBeginEvent)="drawStart()" 
										(onEndEvent)="drawComplete(question.id)" 
										style="background: #FAF7F6; margin: auto">		
				</signature-pad>
			</ion-item>
		</div>
	</ion-card-content>
	</div>

	<div class="ion-text-center">
		
		<ion-grid *ngIf="audit_status !== '1'">
			<ion-row>
				<ion-col>
					<ion-button expand="full" size="default" shape="round" color="secondary" (click)="save(2)">Save Audit</ion-button>
				</ion-col>
				<ion-col>
					<ion-button expand="full" size="default" shape="round" color="primary" (click)="submit(1)">Submit Audit</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		<p *ngIf="audit_status == '1'">Audit has already been completed.</p>
	</div>


</ion-card>
</form>
</ion-content>
